* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#common-nav {
  width: 30px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #202020;
}

#common-nav li {
  font-size: 14px;
  width: 100%;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px black;
  padding: 8px 0;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
}

#common-nav li:hover {
  background: #e4556d;
}

#common-nav li:first-of-type {
  height: 40px;
}

#common-nav li:last-of-type {
  border-top: 1px white solid;
  position: absolute;
  bottom: 0;
  font-size: 12px;
}

.header {
  width: 100%;
  clear: both;
}

.header-nav {
  height: 33px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 auto;
}

.header-nav-wrap {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.header-nav-content {
  float: right;
  line-height: 33px;
  position: relative;
}

.header-nav-content a {
  font: 12px/1.6 tahoma, arial, sans-serif;
  font-weight: 300;
  margin: 0 10px;
  border-right: 1px solid #999;
  padding-right: 20px;
  cursor: pointer;
  color: #999;
}

.header-nav-content a span {
  color: #ffb7c4;
  font-size: 12px;
}

.header-nav-content a:last-of-type {
  position: relative;
  margin-right: 0;
  border-right: none;
  padding-right: 0;
}

.header-nav-content .header-abouts-box {
  position: absolute;
  top: 30px;
  right: -159px;
  width: 960px;
  height: 500px;
  background: yellow;
  display: none;
}

.header-wrap {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}

.header-wrap .tubiao img {
  width: 130px;
  height: 100px;
  float: left;
}

.header-wrap .mulu {
  float: left;
  padding-left: 32px;
  padding-top: 40px;
  position: relative;
  cursor: pointer;
}

.header-wrap .mulu-list {
  position: absolute;
  top: 80px;
  left: -230px;
  width: 100px;
  height: 300px;
  background: lightgoldenrodyellow;
  display: none;
}

.header-wrap .search-nav {
  float: left;
  margin-left: 90px;
}

.header-wrap .search-content {
  height: 44px;
  margin-top: 30px;
  border-radius: 8px;
}

.header-wrap .search-content .search {
  float: left;
  background: #f7f7f7;
}

.header-wrap .search-content form {
  margin-left: 20px;
}

.header-wrap .search-content input {
  margin-top: 10px;
  width: 450px;
  height: 25px;
  outline: none;
  border: none;
  background: #f7f7f7;
}

.header-wrap .search-content form .submit-btn {
  float: right;
  width: 60px;
  height: 44px;
  background: #999;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.header-wrap .search-content .submit-btn span {
  font-size: 35px;
  margin-left: 10px;
  line-height: 44px;
  color: white;
}

.header-wrap .search-content ul {
  float: left;
}

.header-wrap .search-content ul li {
  /* width: 35px; */
  height: 44px;
  margin: 0 12px;
  float: left;
  cursor: pointer;
}

.header-wrap .search-content ul li span {
  font-size: 28px;
}

.header-wrap .search-content ul li p {
  font-size: 12px;
}

.header-wrap .login {
  float: left;
  margin-left: 65px;
}

.header-wrap .login img {
  margin-top: 8px;
  float: left;
  width: 30px;
  height: 30px;
}

.header-wrap .login p {
  padding-top: 12px;
  margin-left: 5px;
  font-size: 15px;
  float: left;
}

.procession {
  width: 100%;
  height: 95px;
}
.procession .proce_wrap {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.procession .proce_wrap .proce {
  width: 495px;
  height: 30px;
  float: right;
  position: relative;
}
.procession .proce_wrap .proce p.circle {
  position: absolute;
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: grey;
  font-size: 12px;
  text-align: center;
  line-height: 25px;
  color: white;
  z-index: 2;
}
.procession .proce_wrap .proce p.straight {
  position: absolute;
  width: 80px;
  height: 5px;
  background: grey;
}
.procession .proce_wrap .proce .part1 .straight {
  top: 10px;
  left: 14px;
}
.procession .proce_wrap .proce .part1 > p {
  background: #ff4466;
}
.procession .proce_wrap .proce .part2 .circle {
  left: 161px;
}
.procession .proce_wrap .proce .part2 .straight:first-child {
  top: 10px;
  left: 94px;
}
.procession .proce_wrap .proce .part2 .straight:last-child {
  top: 10px;
  left: 175px;
}
.procession .proce_wrap .proce .part3 .circle {
  left: 322px;
}
.procession .proce_wrap .proce .part3 .straight:first-child {
  top: 10px;
  left: 255px;
}
.procession .proce_wrap .proce .part3 .straight:last-child {
  top: 10px;
  left: 335px;
}
.procession .proce_wrap .proce .part4 .circle {
  left: 470px;
}
.procession .proce_wrap .proce .part4 .straight {
  top: 10px;
  left: 415px;
}
.procession .proce_wrap .proce_name {
  width: 495px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 35px;
  display: flex;
  justify-content: space-between;
}
.procession .proce_wrap .proce_name p {
  float: right;
  font-size: 12px;
  line-height: 15px;
}
.procession .proce_wrap .proce_name p.yanse {
  color: #ff4466;
}

.cart_wrap {
  width: 100%;
}
.cart_wrap .cart_title {
  width: 1200px;
  height: 45px;
  margin: 0 auto;
}
.cart_wrap .cart_title p {
  box-sizing: border-box;
  float: left;
  font-size: 20px;
  line-height: 45px;
  margin-right: 50px;
}
.cart_wrap .cart_title p.active {
  color: #ff4466;
  height: 45px;
  border-bottom: 3px solid #ff4466;
}
.cart_wrap .cart_nav {
  width: 1200px;
  height: 45px;
  margin: 0 auto;
  background: #f6f6f6;
}
.cart_wrap .cart_nav ul li {
  line-height: 45px;
  font-size: 13px;
  float: left;
}
.cart_wrap .cart_nav ul li:nth-of-type(1) {
  margin-left: 26px;
}
.cart_wrap .cart_nav ul li:nth-of-type(2) {
  margin-left: 125px;
}
.cart_wrap .cart_nav ul li:nth-of-type(3) {
  margin-left: 600px;
}
.cart_wrap .cart_nav ul li:nth-of-type(4) {
  margin-left: 65pxpx;
}
.cart_wrap .cart_nav ul li:nth-of-type(5) {
  margin-left: 70px;
}
.cart_wrap .cart_nav ul li:nth-of-type(6) {
  margin-left: 60px;
}
.cart_wrap .cart_list {
  width: 1200px;
  margin: 20px auto 0;
}
.cart_wrap .cart_list nav li {
  margin: 10px 0;
  width: 1200px;
  height: 150px;
  border: 1px solid #999;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cart_wrap .cart_list nav li .pic {
  width: 550px;
  margin-left: -30px;
}
.cart_wrap .cart_list nav li .pic img {
  float: left;
  width: 78px;
  height: 78px;
}
.cart_wrap .cart_list nav li .pic p {
  float: left;
  font-size: 13px;
  margin-left: 15px;
}
.cart_wrap .cart_list nav li .list_message {
  font-size: 13px;
  color: grey;
}
.cart_wrap .cart_list nav li .list_price span {
  font-size: 13px;
  text-decoration: line-through;
  color: grey;
}
.cart_wrap .cart_list nav li .list_price p {
  font-size: 15px;
}
.cart_wrap .cart_list nav li .list_num input {
  width: 60px;
}
.cart_wrap .cart_list nav li .list_total {
  color: #ff4466;
  font-size: 20px;
}
.cart_wrap .cart_list nav li a {
  color: black;
  font-size: 13px;
}
.cart_wrap .cart_list nav li a:hover {
  text-decoration: underline black;
}
.cart_wrap .cart_footer {
  width: 1200px;
  height: 45px;
  margin: 0 auto;
  background: #f6f6f6;
}
.cart_wrap .cart_footer p {
  float: left;
  line-height: 45px;
  font-size: 13px;
}
.cart_wrap .cart_footer p:nth-of-type(1),
.cart_wrap .cart_footer p:nth-of-type(2),
.cart_wrap .cart_footer p:nth-of-type(3),
.cart_wrap .cart_footer p:nth-of-type(4) {
  margin-left: 25px;
  cursor: pointer;
}
.cart_wrap .cart_footer p:nth-of-type(2):hover,
.cart_wrap .cart_footer p:nth-of-type(3):hover,
.cart_wrap .cart_footer p:nth-of-type(4):hover {
  text-decoration: underline;
}
.cart_wrap .cart_footer p:nth-of-type(5) {
  margin-left: 492px;
}
.cart_wrap .cart_footer p:nth-of-type(5) span {
  color: #e4556d;
}
.cart_wrap .cart_footer p:nth-of-type(6) {
  margin-left: 10px;
  font-size: 25px;
  color: #ff4466;
  font-weight: bold;
}
.cart_wrap .cart_footer p:nth-of-type(7) {
  margin-left: 25px;
  width: 150px;
  height: 100%;
  background: #999;
  text-align: center;
  font-size: 22px;
  color: white;
}
.cart_wrap .cart_footer p:nth-of-type(7):hover {
  opacity: 0.8;
}

.footer {
  width: 100%;
  margin-top: 80px;
  background: #ff5ba0;
}
.footer .contentbox {
  width: 1200px;
  height: 488px;
  background-image: url(https://s10.mogucdn.com/mlcdn/c45406/181031_40flk9d5hkkjf44246248clfl77f1_1440x500.jpg);
  margin: 0 auto;
  position: relative;
}
.footer .contentbox .brand {
  position: absolute;
  top: 50px;
  left: 515px;
  width: 170px;
  height: 50px;
  margin: 0 auto;
}
.footer .contentbox .brand img {
  width: 100%;
  height: 100%;
}
.footer .contentbox .content {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 200px;
  margin-top: 40px;
}
.footer .contentbox .content .top {
  display: flex;
  justify-content: flex-start;
}
.footer .contentbox .content .top p {
  padding-left: 30px;
  width: 270px;
  font-size: 15px;
  color: white;
}
.footer .contentbox .content .xian {
  width: 100%;
}
.footer .contentbox .content .xian p {
  float: left;
  margin: 5px 240px 5px 30px;
  width: 30px;
  height: 1px;
  background: white;
}
.footer .contentbox .content .items01 {
  width: 100%;
  margin-top: 35px;
}
.footer .contentbox .content .items01 li {
  float: left;
  width: 300px;
  height: 150px;
}
.footer .contentbox .content .items01 li p {
  height: 34px;
  margin-left: 30px;
  font-size: 13px;
  color: white;
}
.footer .contentbox .content .items01 li p:hover {
  color: orange;
}
.footer .contentbox .content .items02 {
  margin-left: 90px;
  width: 100%;
  margin-top: 25px;
}
.footer .contentbox .content .items02 li {
  float: left;
  padding: 0 20px;
  border-right: 1px solid white;
  font-size: 13px;
  color: white;
}
.footer .contentbox .content .items02 li:hover {
  color: orange;
}
.footer .contentbox .content .items02 li:last-of-type {
  border-right: none;
}
.footer .contentbox .bottom {
  position: absolute;
  top: 370px;
  width: 100%;
}
.footer .contentbox .bottom p {
  font-size: 13px;
  color: white;
  margin: 15px 0;
  text-align: center;
}

/*# sourceMappingURL=cart.css.map */
