* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#common-nav {
  width: 30px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #202020;
}

#common-nav li {
  font-size: 14px;
  width: 100%;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px black;
  padding: 8px 0;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
}

#common-nav li:hover {
  background: #e4556d;
}

#common-nav li:first-of-type {
  height: 40px;
}

#common-nav li:last-of-type {
  border-top: 1px white solid;
  position: absolute;
  bottom: 0;
  font-size: 12px;
}

.header {
  width: 100%;
  clear: both;
}

.header-nav {
  height: 33px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 auto;
}

.header-nav-wrap {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.header-nav-content {
  float: right;
  line-height: 33px;
  position: relative;
}

.header-nav-content a {
  font: 12px/1.6 tahoma, arial, sans-serif;
  font-weight: 300;
  margin: 0 10px;
  border-right: 1px solid #999;
  padding-right: 20px;
  cursor: pointer;
  color: #999;
}

.header-nav-content a span {
  color: #ffb7c4;
  font-size: 12px;
}

.header-nav-content a:last-of-type {
  position: relative;
  margin-right: 0;
  border-right: none;
  padding-right: 0;
}

.header-nav-content .header-abouts-box {
  position: absolute;
  top: 30px;
  right: -159px;
  width: 960px;
  height: 500px;
  background: yellow;
  display: none;
}

.header-wrap {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}

.header-wrap .tubiao img {
  width: 130px;
  height: 100px;
  float: left;
}

.header-wrap .mulu {
  float: left;
  padding-left: 32px;
  padding-top: 40px;
  position: relative;
  cursor: pointer;
}

.header-wrap .mulu-list {
  position: absolute;
  top: 80px;
  left: -230px;
  width: 100px;
  height: 300px;
  background: lightgoldenrodyellow;
  display: none;
}

.header-wrap .search-nav {
  float: left;
  margin-left: 90px;
}

.header-wrap .search-content {
  height: 44px;
  margin-top: 30px;
  border-radius: 8px;
}

.header-wrap .search-content .search {
  float: left;
  background: #f7f7f7;
}

.header-wrap .search-content form {
  margin-left: 20px;
}

.header-wrap .search-content input {
  margin-top: 10px;
  width: 450px;
  height: 25px;
  outline: none;
  border: none;
  background: #f7f7f7;
}

.header-wrap .search-content form .submit-btn {
  float: right;
  width: 60px;
  height: 44px;
  background: #999;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.header-wrap .search-content .submit-btn span {
  font-size: 35px;
  margin-left: 10px;
  line-height: 44px;
  color: white;
}

.header-wrap .search-content ul {
  float: left;
}

.header-wrap .search-content ul li {
  /* width: 35px; */
  height: 44px;
  margin: 0 12px;
  float: left;
  cursor: pointer;
}

.header-wrap .search-content ul li span {
  font-size: 28px;
}

.header-wrap .search-content ul li p {
  font-size: 12px;
}

.header-wrap .login {
  float: left;
  margin-left: 65px;
}

.header-wrap .login img {
  margin-top: 8px;
  float: left;
  width: 30px;
  height: 30px;
}

.header-wrap .login p {
  padding-top: 12px;
  margin-left: 5px;
  font-size: 15px;
  float: left;
}

.procession {
  width: 100%;
  height: 95px;
}
.procession .proce_wrap {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.procession .proce_wrap .proce {
  width: 495px;
  height: 30px;
  float: right;
  position: relative;
}
.procession .proce_wrap .proce p.circle {
  position: absolute;
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: grey;
  font-size: 12px;
  text-align: center;
  line-height: 25px;
  color: white;
  z-index: 2;
}
.procession .proce_wrap .proce p.straight {
  position: absolute;
  width: 80px;
  height: 5px;
  background: grey;
}
.procession .proce_wrap .proce .part1 .straight {
  top: 10px;
  left: 14px;
}
.procession .proce_wrap .proce .part1 > p {
  background: #ff4466;
}
.procession .proce_wrap .proce .part2 .circle {
  left: 161px;
}
.procession .proce_wrap .proce .part2 .straight:first-child {
  top: 10px;
  left: 94px;
}
.procession .proce_wrap .proce .part2 .straight:last-child {
  top: 10px;
  left: 175px;
}
.procession .proce_wrap .proce .part3 .circle {
  left: 322px;
}
.procession .proce_wrap .proce .part3 .straight:first-child {
  top: 10px;
  left: 255px;
}
.procession .proce_wrap .proce .part3 .straight:last-child {
  top: 10px;
  left: 335px;
}
.procession .proce_wrap .proce .part4 .circle {
  left: 470px;
}
.procession .proce_wrap .proce .part4 .straight {
  top: 10px;
  left: 415px;
}
.procession .proce_wrap .proce_name {
  width: 495px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 35px;
  display: flex;
  justify-content: space-between;
}
.procession .proce_wrap .proce_name p {
  float: right;
  font-size: 12px;
  line-height: 15px;
}
.procession .proce_wrap .proce_name p.yanse {
  color: #ff4466;
}

.cart_wrap {
  width: 100%;
}
.cart_wrap .cart_title {
  width: 1200px;
  height: 45px;
  margin: 0 auto;
}
.cart_wrap .cart_title p {
  box-sizing: border-box;
  float: left;
  font-size: 20px;
  line-height: 45px;
  margin-right: 50px;
}
.cart_wrap .cart_title p.active {
  color: #ff4466;
  height: 45px;
  border-bottom: 3px solid #ff4466;
}

/*# sourceMappingURL=cart.css.map */
