* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  background: #f8f5f5;
}

#common-nav {
  width: 30px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #202020;
}
#common-nav li {
  font-size: 14px;
  width: 100%;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px black;
  padding: 8px 0;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
}
#common-nav li:hover {
  background: #e4556d;
}
#common-nav li:first-of-type {
  height: 40px;
}
#common-nav li:last-of-type {
  z-index: 999;
  background: #202020;
  border-top: 1px white solid;
  position: absolute;
  bottom: 0;
  font-size: 12px;
}

.header {
  width: 100%;
  clear: both;
  background: white;
}
.header .header-nav {
  height: 33px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 auto;
}
.header .header-nav .header-nav-wrap {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.header .header-nav .header-nav-wrap .header-nav-content {
  float: right;
  line-height: 33px;
  position: relative;
}
.header .header-nav .header-nav-wrap .header-nav-content a {
  font: 12px/1.6 tahoma, arial, sans-serif;
  font-weight: 300;
  margin: 0 10px;
  border-right: 1px solid #999;
  padding-right: 20px;
  cursor: pointer;
  color: #999;
}
.header .header-nav .header-nav-wrap .header-nav-content a span {
  color: #ffb7c4;
  font-size: 12px;
}
.header .header-nav .header-nav-wrap .header-nav-content a:last-of-type {
  position: relative;
  margin-right: 0;
  border-right: none;
  padding-right: 0;
}
.header .header-nav .header-nav-wrap .header-nav-content .header-abouts-box {
  position: absolute;
  top: 25px;
  right: -159px;
  width: 960px;
  height: 500px;
  background: orange;
  display: none;
  z-index: 999;
}
.header .header-wrap {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}
.header .header-wrap .tubiao img {
  width: 130px;
  height: 100px;
  float: left;
}
.header .header-wrap .mulu {
  float: left;
  padding-left: 32px;
  padding-top: 40px;
  position: relative;
  cursor: pointer;
}
.header .header-wrap .mulu .mulu-list {
  position: absolute;
  top: 59px;
  left: -230px;
  width: 1000px;
  height: 300px;
  background: lightgoldenrodyellow;
  display: none;
  z-index: 999;
}
.header .header-wrap .search-nav {
  float: left;
  margin-left: 90px;
}
.header .header-wrap .search-nav .search-content {
  height: 44px;
  margin-top: 30px;
  border-radius: 8px;
}
.header .header-wrap .search-nav .search-content .search {
  float: left;
  background: #f7f7f7;
  position: relative;
}
.header .header-wrap .search-nav .search-content .search form {
  margin-left: 20px;
}
.header .header-wrap .search-nav .search-content .search form input {
  margin-top: 10px;
  width: 450px;
  height: 25px;
  outline: none;
  border: none;
  background: #f7f7f7;
}
.header .header-wrap .search-nav .search-content .search form .submit-btn {
  float: right;
  width: 60px;
  height: 44px;
  background: #999;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}
.header .header-wrap .search-nav .search-content .search form .submit-btn span {
  font-size: 35px;
  margin-left: 10px;
  line-height: 44px;
  color: white;
}
.header .header-wrap .search-nav .search-content .search .search_box {
  width: 470px;
  box-sizing: border-box;
  background: white;
  border: 1px solid #dbdbdb;
  position: absolute;
  top: 43px;
  z-index: 998;
}
.header .header-wrap .search-nav .search-content .search .search_box > li {
  font-size: 15px;
  cursor: pointer;
  padding: 5px 10px;
}
.header .header-wrap .search-nav .search-content .search .search_box > li a {
  color: black;
}
.header .header-wrap .search-nav .search-content ul {
  float: left;
}
.header .header-wrap .search-nav .search-content ul li {
  height: 44px;
  margin: 0 12px;
  float: left;
  cursor: pointer;
}
.header .header-wrap .search-nav .search-content ul li span {
  font-size: 28px;
}
.header .header-wrap .search-nav .search-content ul li p {
  font-size: 12px;
}
.header .header-wrap .search-nav .search-content .login {
  float: left;
  margin-left: 65px;
}
.header .header-wrap .search-nav .search-content .login img {
  margin-top: 8px;
  float: left;
  width: 30px;
  height: 30px;
}
.header .header-wrap .search-nav .search-content .login p {
  color: black;
  padding-top: 12px;
  margin-left: 5px;
  font-size: 15px;
  float: left;
}

.storepic {
  width: 100%;
  height: 150px;
}
.storepic .bigpic {
  width: 1400px;
  height: 121px;
  margin: 0 auto;
}
.storepic .bigpic img {
  width: 100%;
  height: 100%;
}

.store_nav {
  width: 100%;
  height: 30px;
  background: #4d4d4d;
}
.store_nav nav {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  cursor: pointer;
}
.store_nav nav > li {
  margin-top: 5px;
  float: left;
  border-right: 1px solid #999;
  padding: 0 20px;
  color: white;
  font-size: 14px;
}
.store_nav nav > li:last-of-type {
  border-right: none;
}
.store_nav nav > li:nth-of-type(2) {
  position: relative;
}
.store_nav nav > li:nth-of-type(2) > ul {
  z-index: 999;
  cursor: pointer;
  position: absolute;
  position: absolute;
  left: 0;
  width: 130px;
  display: none;
}
.store_nav nav > li:nth-of-type(2) > ul > li:first-of-type {
  margin-top: 5px;
}
.store_nav nav > li:nth-of-type(2) > ul > li {
  line-height: 25px;
  padding: 5px 3px;
  width: 100%;
  height: 25px;
  background: rgba(0, 0, 0, 0.6);
}
.store_nav nav > li:nth-of-type(2) > ul > li:hover {
  background: #999;
  opacity: 0.7;
}
.store_nav nav > li:nth-of-type(2) > ul > li:first-of-type {
  position: relative;
}
.store_nav nav > li:nth-of-type(2) > ul > li:first-of-type > ul {
  z-index: 999;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 135px;
  width: 130px;
  display: none;
}
.store_nav nav > li:nth-of-type(2) > ul > li:first-of-type > ul > li {
  line-height: 25px;
  padding: 5px 3px;
  width: 100%;
  height: 25px;
  background: rgba(0, 0, 0, 0.7);
}
.store_nav nav > li:nth-of-type(2) > ul > li:first-of-type > ul > li:hover {
  background: #999;
  opacity: 0.7;
}
.store_nav nav > li:nth-of-type(2) > ul > li:first-of-type:hover > ul {
  display: block;
}
.store_nav nav > li:nth-of-type(2):hover > ul {
  display: block;
}

.detailpart {
  width: 100%;
  margin-top: 30px;
}
.detailpart .detailbox {
  width: 1200px;
  height: 710px;
  margin: 0 auto;
}
.detailpart .detailbox .detail_left {
  float: left;
  width: 400px;
  height: 100%;
  position: relative;
}
.detailpart .detailbox .detail_left .bigpicbox {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
}
.detailpart .detailbox .detail_left .bigpicbox img {
  width: 100%;
  height: 100%;
}
.detailpart .detailbox .detail_left .bigpicbox .zoom {
  position: absolute;
  top: 0;
  left: 0;
  background: #e4556d;
  opacity: 0.7;
  display: none;
}
.detailpart .detailbox .detail_left .zoombox {
  display: none;
  position: absolute;
  top: 0;
  left: 400px;
  width: 500px;
  height: 500px;
  z-index: 999;
  overflow: hidden;
}
.detailpart .detailbox .detail_left .zoombox img {
  position: absolute;
  width: 600px;
  height: 900px;
}
.detailpart .detailbox .detail_left .smallpicbox {
  position: absolute;
  top: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76px;
  margin-top: 10px;
}
.detailpart .detailbox .detail_left .smallpicbox .smallbox {
  margin-right: 8px;
  width: 60px;
  height: 60px;
  opacity: 0.7;
}
.detailpart .detailbox .detail_left .smallpicbox .smallbox img {
  width: 100%;
  height: 100%;
}
.detailpart .detailbox .detail_left .smallpicbox .smallbox:hover {
  opacity: 1;
}
.detailpart .detailbox .detail_mid {
  float: left;
  width: 545px;
  height: 100%;
  margin-left: 20px;
}
.detailpart .detailbox .detail_mid .title {
  font-size: 22px;
  font-weight: bold;
  line-height: 25px;
  padding: 0 10px;
}
.detailpart .detailbox .detail_mid .message {
  width: 100%;
  height: 70px;
  background: #f6f6f6;
  position: relative;
}
.detailpart .detailbox .detail_mid .message p:nth-of-type(1) {
  font-size: 12px;
  position: absolute;
  top: 10px;
  padding: 0 12px;
  color: grey;
}
.detailpart .detailbox .detail_mid .message p:nth-of-type(1) span {
  font-size: 14px;
  text-decoration: line-through;
}
.detailpart .detailbox .detail_mid .message p:nth-of-type(2) {
  color: grey;
  font-size: 12px;
  position: absolute;
  top: 30px;
  padding: 0 12px;
}
.detailpart .detailbox .detail_mid .message p:nth-of-type(2) span {
  font-size: 20px;
  color: red;
  font-weight: bold;
}
.detailpart .detailbox .detail_mid .message p:nth-of-type(3) {
  font-size: 12px;
  position: absolute;
  top: 40px;
  right: 20px;
  color: grey;
}
.detailpart .detailbox .detail_mid .kefu {
  width: 100%;
  height: 45px;
  position: relative;
}
.detailpart .detailbox .detail_mid .kefu > span {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  color: grey;
}
.detailpart .detailbox .detail_mid .kefu p {
  position: absolute;
  top: 10px;
  left: 70px;
  font-size: 15px;
  width: 90px;
  height: 25px;
  border: 1px solid #999;
  text-align: center;
}
.detailpart .detailbox .detail_mid .kefu p > span {
  position: relative;
  top: 1px;
  font-size: 18px;
  color: #00a1ef;
  line-height: 25px;
  text-align: center;
  animation: move linear 0.5s infinite;
}
@keyframes move {
  0% {
    top: 1px;
  }
  25% {
    top: -3px;
  }
  75% {
    top: 5px;
  }
  100% {
    top: 1px;
  }
}
.detailpart .detailbox .detail_mid .color {
  width: 100%;
  height: 45px;
  position: relative;
}
.detailpart .detailbox .detail_mid .color > span {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  color: grey;
}
.detailpart .detailbox .detail_mid .color .color_select {
  position: absolute;
  top: 10px;
  left: 70px;
  width: 300px;
}
.detailpart .detailbox .detail_mid .color .color_select p {
  box-sizing: border-box;
  float: left;
  margin-right: 10px;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  width: 50px;
  height: 30px;
  border: 1px solid grey;
}
.detailpart .detailbox .detail_mid .color .color_select p.xuxian {
  border-style: dashed;
}
.detailpart .detailbox .detail_mid .color .color_select p:not(.xuxian).active {
  border: 2px solid #999;
}
.detailpart .detailbox .detail_mid .size {
  width: 100%;
  height: 45px;
  position: relative;
}
.detailpart .detailbox .detail_mid .size > span {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  color: grey;
}
.detailpart .detailbox .detail_mid .size .size_select {
  position: absolute;
  top: 10px;
  left: 70px;
  width: 300px;
}
.detailpart .detailbox .detail_mid .size .size_select p {
  float: left;
  margin-right: 10px;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  padding: 0 10px;
  height: 30px;
  border: 1px solid grey;
}
.detailpart .detailbox .detail_mid .size .size_select p.xuxian {
  border-style: dashed;
}
.detailpart .detailbox .detail_mid .size .size_select p:not(.xuxian).active {
  border: 2px solid #999;
  padding: 0 9px;
}
.detailpart .detailbox .detail_mid .number {
  width: 100%;
  height: 45px;
  position: relative;
}
.detailpart .detailbox .detail_mid .number > span {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  color: grey;
}
.detailpart .detailbox .detail_mid .number .numbox {
  position: absolute;
  top: 10px;
  left: 70px;
  width: 300px;
}
.detailpart .detailbox .detail_mid .number .numbox p {
  float: left;
  width: 30px;
  height: 30px;
  border: 1px solid #999;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.detailpart .detailbox .detail_mid .number .numbox span {
  text-align: center;
  line-height: 30px;
  float: left;
  width: 60px;
  height: 30px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
.detailpart .detailbox .detail_mid .number > p {
  position: absolute;
  top: 15px;
  left: 210px;
  font-size: 12px;
  color: grey;
}
.detailpart .detailbox .detail_mid .addcart {
  width: 100%;
  margin-top: 20px;
}
.detailpart .detailbox .detail_mid .addcart p {
  float: left;
  width: 200px;
  height: 50px;
  margin-right: 20px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.detailpart .detailbox .detail_mid .addcart p.buy {
  background: red;
  margin-left: 60px;
  color: white;
}
.detailpart .detailbox .detail_mid .addcart p.add {
  border: 1px solid #999;
}
.detailpart .detailbox .detail_mid .service {
  width: 100%;
  height: 45px;
  margin-top: 100px;
  position: relative;
}
.detailpart .detailbox .detail_mid .service > span {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  color: grey;
}
.detailpart .detailbox .detail_mid .service .service_box {
  position: absolute;
  top: 10px;
  left: 70px;
  width: 400px;
}
.detailpart .detailbox .detail_mid .service .service_box p {
  margin: 0 10px;
  float: left;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
}
.detailpart .detailbox .detail_mid .service .service_box p span {
  font-size: 18px;
  color: red;
  font-weight: bold;
}
.detailpart .detailbox .detail_mid .pay_mode {
  width: 100%;
  height: 45px;
  position: relative;
}
.detailpart .detailbox .detail_mid .pay_mode > span {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  color: grey;
}
.detailpart .detailbox .detail_mid .pay_mode > p {
  position: absolute;
  top: 10px;
  left: 80px;
}
.detailpart .detailbox .detail_mid .pay_mode > p span:first-child {
  font-size: 30px;
  color: #009fe9;
  vertical-align: middle;
}
.detailpart .detailbox .detail_mid .pay_mode > p span:last-child {
  font-size: 22px;
  color: #53c547;
  vertical-align: middle;
}
.detailpart .detailbox .detail_right {
  float: left;
  width: 160px;
  height: 100%;
  margin-left: 73px;
  border-left: 1px solid #999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.detailpart .detailbox .detail_right p {
  width: 100%;
  height: 20px;
  font-size: 18px;
  color: #999;
  line-height: 20px;
  text-align: center;
}
.detailpart .detailbox .detail_right .hot_sail {
  width: 120px;
  height: 206px;
}
.detailpart .detailbox .detail_right .hot_sail img {
  width: 120px;
  height: 182px;
}
.detailpart .detailbox .detail_right .hot_sail p {
  width: 100%;
  text-align: center;
  height: 20px;
  font-size: 15px;
  line-height: 20px;
}

/*# sourceMappingURL=detail.css.map */
