* {
  margin: 0;
  padding: 0;
}

a {
  text-emphasis: none;
}

li {
  list-style: none;
}

body #common-nav {
  width: 30px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #202020;
}
body #common-nav li {
  font-size: 14px;
  width: 100%;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px black;
  padding: 8px 0;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
}
body #common-nav li.active {
  background: #e4556d;
}
body #common-nav li:first-of-type {
  height: 40px;
}
body #common-nav li:last-of-type {
  border-top: 1px white solid;
  position: absolute;
  bottom: 0;
  font-size: 12px;
}
body .header {
  width: 100%;
  clear: both;
}
body .header .header-nav {
  height: 33px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 auto;
}
body .header .header-nav .header-nav-wrap {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
body .header .header-nav .header-nav-wrap .header-nav-content {
  float: right;
  line-height: 33px;
  position: relative;
}
body .header .header-nav .header-nav-wrap .header-nav-content a {
  font: 12px/1.6 tahoma, arial, sans-serif;
  font-weight: 300;
  margin: 0 10px;
  border-right: 1px solid #999;
  padding-right: 20px;
  cursor: pointer;
  color: #999;
}
body .header .header-nav .header-nav-wrap .header-nav-content a span {
  color: #ffb7c4;
  font-size: 12px;
}
body .header .header-nav .header-nav-wrap .header-nav-content a:last-of-type {
  position: relative;
  margin-right: 0;
  border-right: none;
  padding-right: 0;
}
body .header .header-nav .header-nav-wrap .header-nav-content .header-abouts-box {
  position: absolute;
  top: 30px;
  right: -159px;
  width: 960px;
  height: 500px;
  background: yellow;
  display: none;
}
body .header .header-wrap {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}
body .header .header-wrap .tubiao img {
  width: 130px;
  height: 100px;
  float: left;
}
body .header .header-wrap .mulu {
  float: left;
  padding-left: 32px;
  padding-top: 40px;
  position: relative;
  cursor: pointer;
}
body .header .header-wrap .mulu .mulu-list {
  position: absolute;
  top: 80px;
  left: -230px;
  width: 100px;
  height: 300px;
  background: lightgoldenrodyellow;
  display: none;
}
body .header .header-wrap .search-nav {
  float: left;
  margin-left: 90px;
}
body .header .header-wrap .search-nav .search-content {
  height: 44px;
  margin-top: 30px;
  border-radius: 8px;
}
body .header .header-wrap .search-nav .search-content .search {
  float: left;
  background: #f7f7f7;
}
body .header .header-wrap .search-nav .search-content .search form {
  margin-left: 20px;
}
body .header .header-wrap .search-nav .search-content .search form input {
  margin-top: 10px;
  width: 450px;
  height: 25px;
  outline: none;
  border: none;
  background: #f7f7f7;
}
body .header .header-wrap .search-nav .search-content .search form .submit-btn {
  float: right;
  width: 60px;
  height: 44px;
  background: #999;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}
body .header .header-wrap .search-nav .search-content .search form .submit-btn span {
  font-size: 35px;
  margin-left: 10px;
  line-height: 44px;
  color: white;
}
body .header .header-wrap .search-nav .search-content ul {
  float: left;
}
body .header .header-wrap .search-nav .search-content ul li {
  height: 44px;
  margin: 0 12px;
  float: left;
  cursor: pointer;
}
body .header .header-wrap .search-nav .search-content ul li span {
  font-size: 28px;
}
body .header .header-wrap .search-nav .search-content ul li p {
  font-size: 12px;
}
body .header .header-wrap .search-nav .search-content .login {
  float: left;
  margin-left: 65px;
}
body .header .header-wrap .search-nav .search-content .login img {
  margin-top: 8px;
  float: left;
  width: 30px;
  height: 30px;
}
body .header .header-wrap .search-nav .search-content .login p {
  padding-top: 12px;
  margin-left: 5px;
  font-size: 15px;
  float: left;
}

/*# sourceMappingURL=index.css.map */
