@charset "utf-8";
@import "./header.scss";
@import"./footer.scss";
.procession {
    width: 100%;
    height: 95px;
    .proce_wrap {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        .proce {
            width: 495px;
            height: 30px;
            float: right;
            position: relative;
            p.circle {
                position: absolute;
                float: left;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: grey;
                font-size: 12px;
                text-align: center;
                line-height: 25px;
                color: white;
                z-index: 2;
            }
            p.straight {
                position: absolute;
                width: 80px;
                height: 5px;
                background: grey;
            }
            .part1 {
                .straight {
                    top: 10px;
                    left: 14px;
                }
                >p {
                    background: #ff4466;
                }
            }
            .part2 {
                .circle {
                    left: 161px;
                }
                .straight:first-child {
                    top: 10px;
                    left: 94px;
                }
                .straight:last-child {
                    top: 10px;
                    left: 175px;
                }
            }
            .part3 {
                .circle {
                    left: 322px;
                }
                .straight:first-child {
                    top: 10px;
                    left: 255px;
                }
                .straight:last-child {
                    top: 10px;
                    left: 335px;
                }
            }
            .part4 {
                .circle {
                    left: 470px;
                }
                .straight {
                    top: 10px;
                    left: 415px;
                }
            }
        }
        .proce_name {
            width: 495px;
            height: 15px;
            position: absolute;
            right: 0;
            top: 35px;
            display: flex;
            justify-content: space-between;
            p {
                float: right;
                font-size: 12px;
                line-height: 15px;
            }
            p.yanse {
                color: #ff4466;
            }
        }
    }
}

.cart_wrap {
    width: 100%;
    .cart_title {
        width: 1200px;
        height: 45px;
        margin: 0 auto;
        p {
            box-sizing: border-box;
            float: left;
            font-size: 20px;
            line-height: 45px;
            margin-right: 50px;
        }
        p.active {
            color: #ff4466;
            height: 45px;
            border-bottom: 3px solid #ff4466;
        }
    }
    .cart_nav {
        width: 1200px;
        height: 45px;
        margin: 0 auto;
        background: #f6f6f6;
        ul {
            li {
                line-height: 45px;
                font-size: 13px;
                float: left;
            }
            li:nth-of-type(1) {
                margin-left: 26px;
            }
            li:nth-of-type(2) {
                margin-left: 125px;
            }
            li:nth-of-type(3) {
                margin-left: 600px;
            }
            li:nth-of-type(4) {
                margin-left: 65pxpx;
            }
            li:nth-of-type(5) {
                margin-left: 70px;
            }
            li:nth-of-type(6) {
                margin-left: 60px;
            }
        }
    }
    .cart_list {
        width: 1200px;
        margin: 20px auto 0;
        nav {
            display: none;
            li {
                margin: 10px 0;
                width: 1200px;
                height: 150px;
                border: 1px solid #999;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .pic {
                    width: 550px;
                    margin-left: -30px;
                    img {
                        float: left;
                        width: 78px;
                        height: 78px;
                    }
                    p {
                        float: left;
                        font-size: 13px;
                        margin-left: 15px;
                    }
                }
                .list_message {
                    font-size: 13px;
                    color: grey;
                }
                .list_price {
                    span {
                        font-size: 13px;
                        text-decoration: line-through;
                        color: grey;
                    }
                    p {
                        font-size: 15px;
                    }
                }
                .list_num {
                    input {
                        width: 60px;
                    }
                }
                .list_total {
                    color: #ff4466;
                    font-size: 20px;
                }
                a {
                    color: black;
                    font-size: 13px;
                }
                a:hover {
                    text-decoration: underline black;
                }
            }
        }
    }
    .cart_footer {
        width: 1200px;
        height: 45px;
        margin: 0 auto;
        background: #f6f6f6;
        position: relative;
        p {
            float: left;
            line-height: 45px;
            font-size: 13px;
        }
        p:nth-of-type(1),
        p:nth-of-type(2),
        p:nth-of-type(3),
        p:nth-of-type(4) {
            margin-left: 25px;
            cursor: pointer;
        }
        p:nth-of-type(2):hover,
        p:nth-of-type(3):hover,
        p:nth-of-type(4):hover {
            text-decoration: underline;
        }
        p:nth-of-type(5) {
            margin-left: 350px;
            span {
                color: #e4556d;
            }
        }
        p:nth-of-type(6) {
            margin-left: 10px;
            font-size: 25px;
            color: #ff4466;
            font-weight: bold;
        }
        p:nth-of-type(7) {
            width: 150px;
            height: 100%;
            background: #999;
            text-align: center;
            font-size: 22px;
            color: white;
            position: absolute;
            right: 0;
            top: 0;
        }
        p:nth-of-type(7):hover {
            opacity: 0.8;
        }
    }
}